<div class="container my-container">
    <div class="card justify-content-md-center">
      <div class="card-header text-center">
        <h3>S'inscrire</h3>
      </div>
      <div class="card-body">
        <div class="alert alert-danger">
       
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Nom">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Code fiscal">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="E-mail">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Adresse 1">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Adresse 2">
        </div><div class="mb-3">
        <input type="text" class="form-control" placeholder="Ville">
      </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Code postal">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Pays" >
        </div>
        <div class="mb-3">
          <textarea type="password" class="form-control" placeholder="Description"></textarea>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Numero de telephone">
        </div>
  
        <div class="mb-3 d-flex justify-content-between">
          <a class="btn btn-link">Se connecter</a>
          <button type="button" class="btn btn-primary">
            <i class="fas fa-check"></i>&nbsp;S'inscrire
          </button>
        </div>
      </div>
    </div>
  </div>
  
  